@import "../../styles/mixins.scss";

.musicSection {
    --backgroundColor: #{$blue};
    --textColor: white;
    --spotify: #{$spotify};
    
    display: flex;
    justify-content: center;
    position: relative;
    overflow-x: clip;
    color: var(--textColor);
    padding-bottom: 6rem;

    @include laptop {
        padding-bottom: 24rem;
    }

    svg {
        fill: var(--textColor);
    }

    &.artistsSection {
        --backgroundColor: #{$blue};
        --textColor: white;
        --spotify: #{$spotify};

        .wave {
            bottom: calc(100% - 12rem - 1px);
    
            @include laptop {
                bottom: calc(100% - 20rem - 1px);
            }
        }

        .background {
            top: 12rem;
            height: calc(100% - 12rem);
    
            @include laptop {
                top: 20rem;
                height: calc(100% - 20rem);
            }
        }
    }

    &.tracksSection {
        --backgroundColor: #{$yellow};
        --textColor: #1C2854;
        --spotify: #379257;

        .wave {
            transform: rotateY(180deg)
        }
    }

    &.genresSection {
        --backgroundColor: #{$pink};
        --textColor: white;

        flex-direction: column;
        align-items: center;

        .genresContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include laptop {
                gap: 2rem;
                margin-top: 4rem;
            }

            li {
                --genreBackgroundColor: #4B53F7;
                --genreTextColor: white;

                div {
                    background-color: var(--genreBackgroundColor);
                    color: var(--genreTextColor);

                    svg {
                        fill: var(--genreTextColor);
                    }
                }
                
                &:nth-of-type(1) {
                    div {
                        --genreBackgroundColor: #4B53F7;
                        --genreTextColor: white;
                        width: 60vw;
                    }
                }
                
                &:nth-of-type(2) {
                    div {
                        --genreBackgroundColor: #FF9669;
                        --genreTextColor: #{$dark};
                        width: 55vw;
                    }
                }
                
                &:nth-of-type(3) {
                    div {
                        --genreBackgroundColor: #CEFFF3;
                        --genreTextColor: #{$dark};
                        width: 50vw;
                    }
                }
                
                &:nth-of-type(4) {
                    div {
                        --genreBackgroundColor: #FDB448;
                        --genreTextColor: #{$dark};
                        width: 45vw;
                    }
                }
                
                &:nth-of-type(5) {
                    div {
                        --genreBackgroundColor: #40394F;
                        --genreTextColor: white;
                        width: 40vw;
                    }
                }
            }
        }
    }

    .wave {
        position: absolute;
        bottom: calc(100% - 1px);
        left: 0;
        width: 100%;
        height: auto;
        fill: var(--backgroundColor);
        z-index: -1;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--backgroundColor);
        z-index: -1;
    }

    .content {
        width: 100%;
        max-width: 64rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;

        .title {
            @include title;

            @include laptop {
                margin-right: auto;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: calc(100% + 3rem);
                    width: 8rem;
                    height: 1px;
                    background-color: var(--textColor);
                }
            }
        }

        .topMusicContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 3rem;

            @include laptop {
                flex-direction: row;
                margin-top: 6rem;

                li {
                    display: flex;
                    height: 100%;

                    div a p span {
                        color: var(--spotify);
                    }
                }
            }

            .separator {
                border: none;
                border-top: 1px solid var(--textColor);
                opacity: .1;
                width: 100%;
                height: 1px;
                margin: 2rem 0;

                @include laptop {
                    border-right: 1px solid var(--textColor);
                    opacity: .1;
                    width: 1px;
                    height: 100%;
                    margin: 0 4rem;
                }
            }
        }

        .musicContainer {
            width: 100%;
            max-width: 48rem;
            margin-top: 4rem;

            @include laptop {
                margin-top: 6rem;
            }

            li div a p span {
                color: var(--spotify);
            }

            .separator {
                border: none;
                border-top: 1px solid var(--textColor);
                opacity: .1;
                width: 100%;
                height: 1px;
                margin: .5rem 0;

                @include laptop {
                    margin: 1rem 0;
                }
            }

        }

        .button {
            margin: 3rem auto 0 auto;

            @include laptop {
                img, svg {
                    transition: .3s ease-in-out;
                }
    
                &:hover {
                    img, svg {
                        transform: rotate(90deg) translateY(-.05rem);
                    }
                }
            }
        }
    }
}