@import "../../styles/mixins.scss";

.Footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem 2rem 2rem;
    border-top: 1px solid rgba(white, .1);

    @include laptop {
        padding-top: 8rem;
    }

    .title {
        font-weight: 500;
        font-size: 1.5rem;
        margin: 1rem 0;

        @include laptop {
            font-size: 2rem;
        }
    }

    .sectionContainer {
        max-width: 36rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin: 3rem 0;

        @include laptop {
            gap: 6rem;
            margin: 4rem 0;
        }

        .section {
            .title {
                font-size: 1.2rem;
                font-weight: 500;
                opacity: .3;
                margin-bottom: 1rem;
            }

            .linksList li {
                margin-bottom: .5rem;

                a {
                    transition: .3s ease-in-out;
    
                    &:hover {
                        color: lighten($main, 7);
                    }
                }
            }
        }
    }

    .copyright {
        opacity: .3;
        text-align: center;
    }
}