@import "../../../styles/mixins.scss";

.ListenButton {
    display: flex;
    gap: .8rem;
    font-family: Poppins;
    margin-left: auto;

    svg {
        width: 1rem;
    }

    .text {
        white-space: nowrap;

        &.small {
            display: none;
        }
    }

    @include laptop {
        opacity: .85;
        transition: .3s ease-in-out;

        &:hover {
            opacity: 1;
        }

        .text.small {
            display: block;
        }
    }
}