@import "../../styles/mixins.scss";

.ListenButton {
    display: flex;
    gap: .8rem;
    font-family: Poppins;
    margin-left: auto;

    svg {
        width: 1rem;
    }

    .text {
        white-space: nowrap;

        &.small {
            display: none;
        }
    }

    @include laptop {
        .text.small {
            display: block;
        }
    }
}