@import "../../styles/mixins.scss";

.Dropdown {
    margin-right: 1rem;
    position: relative;

    .button {
        font-family: Poppins;
        padding: .5rem 1rem;
        border-radius: 99rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        transition: border .3s ease-in-out;
    
        &:hover {
            border: 1px solid rgba(white, .1);
        }
    
        &:active {
            background-color: rgba(white, .01);
        }
    }

    .menu {
        position: absolute;
        opacity: 0;
        transform: translateY(-.5rem);
        transition: .2s ease-in;

        &.open {
            opacity: 1;
            transform: none;
            transition: .3s cubic-bezier(.4, 0, .4, 1.4);
        }
    }
}