@import "../../styles/mixins.scss";

.Dropdown {
    position: relative;

    .button {
        font-family: Poppins;
        padding: 1rem;
        border-radius: 99rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        transition: border .3s ease-in-out;
    
        &:hover {
            border: 1px solid rgba(white, .1);
        }
    
        &:active {
            background-color: rgba(white, .01);
        }
    }

    .menu {
        position: absolute;
        top: 3.5rem;
        right: 0;
        background-color: $dark;
        border: 1px solid rgba(white, .1);
        border-radius: .5rem;
        box-shadow: 0 2rem 2rem rgba(black, .15);
        padding: .5rem 0;
        display: flex;
        flex-direction: column;
        z-index: 1;
        overflow: hidden;

        opacity: 0;
        pointer-events: none;
        transform: translate(20%, -50%) scale(.5);
        transition: .2s ease-in;

        @include laptop {
            top: 3.8rem;
        }

        &.open {
            opacity: 1;
            pointer-events: all;
            transform: translate(0) scale(1);
            transition: .3s cubic-bezier(.4, 0, .4, 1.4);
        }

        .option {
            padding: .5rem 1.5rem;
            cursor: pointer;
            transition: background-color .3s ease-in-out;

            &:hover {
                background-color: rgba(white, .05);
            }

            &.active {
                color: $main;
            }
        }
    }
}