$main: #1E7ED7;
$dark: #17191C;
$spotify: #1ED760;
$spotify-dark: #1DB954;
$blue: #4B53F7;
// $yellow: #FDB448;
$yellow: #FBA33C;
$pink: #EA5163;
$purple: #7A14DF;

@mixin tablet {
    @media (min-width: 480px) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1600px) {
        @content;
    }
}

@mixin title($smaller: false) {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 110%;

    @include laptop {
        font-size: 3rem;
    }

    @if $smaller {
        font-size: 1.8rem;

        @include laptop {
            font-size: 2.5rem;
        }
    }
}

@mixin button($color) {
    display: flex;
    gap: .8rem;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    color: $color;
    width: fit-content;
    padding: .8em 2em;
    border: 1px solid $color;
    border-radius: 99rem;

    &:active {
        background-color: rgba(white, .01);
    }

    img, svg {
        width: 1rem;
    }

    svg {
        fill: $color;
    }

    span {
        border-color: $color;
    }
}
